@font-face {
  font-family: 'HattoriHanzo';
  src: url(fonts/HattoriHanzo.otf);
}

@font-face {
  font-family: 'HattoriHanzo';
  font-style: italic;
  src: url(fonts/HattoriHanzoItalic.otf);
}

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

#frame-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-grow: 1;
}

#frame-2 {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-grow: 1;
  display: none;
}

#frame-one {
    font-family: 'HattoriHanzo';
    font-size: 263.625px;
    font-weight: 300;
}

#frame-two {
  font-family: 'HattoriHanzo';
  font-size: 263.625px;
  font-weight: 300;
}

#frame-1__header {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10.86px;
  padding-top: 20.86px;
}

#frame-1__footer {
  display: flex;
  align-items:inherit;
}

#frame-1__footer-text {
  font-family: 'HattoriHanzo';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  padding-left: 20.86px;
}

.frame-black-one {
  font-style: light;
  font-size: 263.625px;
  font-weight: 400;
}

.frame-black-two {
  font-style: light;
  font-size: 263.625px;
  font-weight: 400;
}

#frame1-shtorka-up { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka 1s linear;
  animation-delay: 1s;
  animation-fill-mode:forwards;
}
#frame1-shtorka-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka 1s linear;
  animation-delay: 2s;
  animation-fill-mode:forwards;
}

@keyframes up-shtorka {
  from {
    top: 100%;
    background-color: black;
  }

  to {
    top: 0%;
    background-color: black;
  }
}

@keyframes down-shtorka {
  0% {
    top: 0%;
    background-color: #000;
  }

  100% {
    top: 100%;
    background-color: #fff;
  }
}

@keyframes up-shtorka-back {
  from {
    top: 100%;
    background-color: #fff;
  }

  to {
    top: 0%;
    background-color: #fff;
  }
}

@keyframes down-shtorka-back {
  0% {
    top: 0%;
    background-color: #fff;
  }

  100% {
    top: 100%;
    background-color: #000;
  }
}

#frame1-shtorka-up-one { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka-back 1s linear;
  animation-delay: 3s;
  animation-fill-mode:forwards;
}
#frame1-shtorka-down-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka-back 1s linear;
  animation-delay: 4s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-up-two { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka 1s linear;
  animation-delay: 5s;
  animation-fill-mode:forwards;
}
#frame1-shtorka-down-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka 1s linear;
  animation-delay: 6s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-up-three { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka-back 1s linear;
  animation-delay: 7s;
  animation-fill-mode:forwards;
}
#frame1-shtorka-down-three {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka-back 1s linear;
  animation-delay: 8s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-up-four { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka 1s linear;
  animation-delay: 9s;
  animation-fill-mode:forwards;
}
#frame1-shtorka-down-four {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka 1s linear;
  animation-delay: 10s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-up-five { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka-back 1s linear;
  animation-delay: 11s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-down-five {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka-back 1s linear;
  animation-delay: 12s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-up-six { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka 1s linear;
  animation-delay: 13s;
  animation-fill-mode:forwards;
}
#frame1-shtorka-down-six {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka 1s linear;
  animation-delay: 14s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-up-seven { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka-back 1s linear;
  animation-delay: 15s;
  animation-fill-mode:forwards;
}
#frame1-shtorka-down-seven {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka-back 1s linear;
  animation-delay: 16s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-up-eight { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka 1s linear;
  animation-delay: 17s;
  animation-fill-mode:forwards;
}
#frame1-shtorka-down-eight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka 1s linear;
  animation-delay: 18s;
  animation-fill-mode:forwards;
}

#frame1-shtorka-up-end { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: up-shtorka-back 1s linear;
  animation-delay: 19s;
  animation-fill-mode:forwards;
}
