@font-face {
  font-family: 'HattoriHanzo';
  src: url(fonts/HattoriHanzo.otf);
}

@font-face {
  font-family: 'HattoriHanzo';
  font-style: italic;
  src: url(fonts/HattoriHanzoItalic.otf);
}

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.frame-1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-grow: 1;
}

.frame-white-one {
    font-family: 'HattoriHanzo';
    font-style: light;
    font-size: 263.625px;
    font-weight: 300;

}

.frame-white-two {
  font-family: 'HattoriHanzo';
  font-style: italic;
  font-size: 263.625px;
  font-weight: 300;
}

.frame-1__header {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10.86px;
  padding-top: 20.86px;
}

.frame-1__footer {
  display: flex;
  align-items:inherit;
}

.frame-1__footer-text {
  font-family: 'HattoriHanzo';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  padding-left: 20.86px;
}

.frame1-shtorka-up { 
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: up-shtorka 1s linear alternate;
  animation-delay: 1s;
}
.frame1-shtorka-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: down-shtorka 1s linear;
  animation-delay: 2s;
}

@keyframes up-shtorka {
  from {
    top: 100%;
  }

  to {
    top: 0%;
  }
}

@keyframes down-shtorka {
  0% {
    top: 0%;
    background-color: black;
  }

  100% {
    top: 100%;
    background-color: black;
  }

}