@font-face {
  font-family: 'HattoriHanzo';
  src: url(fonts/HattoriHanzo.otf);
}

@font-face {
  font-family: 'HattoriHanzo';
  font-style: italic;
  src: url(fonts/HattoriHanzoItalic.otf);
}

.frame-1 {
    background-color: white;
    width: 100%;
    height: 100%;
}

.frame-white {
    font-family: 'HattoriHanzo';
    font-style: italic;
    font-size: 263.625px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 308px;
}

.frame-white-null {   
    font-family: 'HattoriHanzo';
    font-style: normal; 
}