@font-face {
  font-family: 'HattoriHanzo';
  src: url(fonts/HattoriHanzo.otf);
}

@font-face {
  font-family: 'HattoriHanzo';
  font-style: italic;
  src: url(fonts/HattoriHanzoItalic.otf);
}

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.frame-1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.frame-white-one {
    font-family: 'HattoriHanzo';
    font-style: light;
    font-size: 263.625px;
    font-weight: 300;

}

.frame-white-two {
  font-family: 'HattoriHanzo';
  font-style: italic;
  font-size: 263.625px;
  font-weight: 300;
}

.frame-1__header {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30.94px;
  padding-top: 20.86px;
  flex: 0 1 auto;
}

.frame-1__footer {
  display: flex;
}