@font-face {
  font-family: 'HattoriHanzo';
  src: url(fonts/HattoriHanzo.otf);
}

@font-face {
  font-family: 'HattoriHanzo';
  font-style: italic;
  src: url(fonts/HattoriHanzoItalic.otf);
}
html, body{
  width: 100%;
  height: 100%;
}

.frame-1 {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.frame-white-one {
    font-family: 'HattoriHanzo';
    font-style: light;
    font-size: 263.625px;
    font-weight: 300;

}

.frame-white-two {
  font-family: 'HattoriHanzo';
  font-style: italic;
  font-size: 263.625px;
  font-weight: 300;

  
}

.frame-white-null {   
    font-family: 'HattoriHanzo';
    font-style: normal;
    display: block; 
    margin: 0 auto;
}